<nav class="">
  <header>
    <a routerLink="/dashboard" class="navbar-brand" style="align-items: center;">
      <img src="../../assets/images/kalata.png" alt="" style="height: 150px; margin-left:15%; border-radius: 12px;" />
    </a>
    
  </header>
  <div class="menu-bar">
    <div class="menu">
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/dashboard">
          <i class="bx bxs-home icon"></i>
          <span class="text nav-text">Accueil</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/election">
          <i class="bx bx-bulb icon"></i>
          <span class="text nav-text">Election</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/candidats">
          <i class="bx bx-bulb icon"></i>
          <span class="text nav-text">Classement</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/electeurs">
          <i class="bx bx-microphone icon"></i>
          <span class="text nav-text">Electeur</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/vote">
          <i class="bx bx-message icon"></i>
          <span class="text nav-text">Titre Election</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/projetdelois">
          <i class="bx bxs-user-circle icon"></i>
          <span class="text nav-text">Projet</span>
        </a>
      </li>

      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/localitevote">
          <i class="bx bxs-user-circle icon"></i>
          <span class="text nav-text">Lieux de Vote</span>
        </a>
      </li>

    </div>
  </div>
</nav>