<div class="container-fluid" style="overflow: hidden">
    <div class="row flex-nowrap">
        <div id="sidebar" class="col-auto sidebar collapse collapse-horizontal show" style="height: 100vh">
            <app-menu></app-menu>
            <!-- </div> -->
        </div>
        <main class="col" style="height: 100vh; overflow: scroll; overflow-x: hidden">
            <nav class="bg-danger navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <h1 style="width: 20px"></h1>
                <a href="#" class="sidebar-toggler flex-shrink-0" data-bs-toggle="collapse" data-bs-target="#sidebar"
                    aria-expanded="false" aria-controls="collapseWidthExample">
                    <i class="fa fa-bars"></i>
                </a>

                <div class="d-flex justify-content-end w-100">
                    <app-header></app-header>
                </div>
            </nav>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 py-2">
                    <div class="col-sm-12">
                        <div class="bg-light rounded p-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>La liste des candidats</h3>
                                </div>
                                <!-- <div class="col-md-2"></div> -->
                                <div class="col-md-4">
                                    <div class="d-none d-md-flex ms-4">
                                        <i class="bx bx-search icon fa-2x py-1"></i>
                                        <input
                                            class="form-control border-0 border-2 border-start border-end border-alert"
                                            type="search"  [(ngModel)]="searhText" placeholder="Rechercher..." />
                                    </div>
                                </div>

                            </div>
                            <div class="chart-container py-2">
                                <div class="header_fixed py-2">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>No°</th>
                                                <th>Nom du Candidat</th>
                                                <th>Parti du idcandidat</th>
                                                <th>Photo du Candidat</th>
                                                <th>Nbre de Voix</th>
                                                <th>Pourcentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor=" let util of Total | paginate:{itemsPerPage: 5, currentPage: p}
                                            |filter:searhText; let i = index ">
                                                <td>{{util.idcandidat}}</td>
                                                <td>{{util.nomcandidat}}</td>
                                                <td>{{util.nomparti}}</td>
                                                <td><img src="{{util.imagecandidat}}" alt="" /></td>
                                                <td>{{util.voix}}</td>
                                                <td>{{util.pourcentage}} %</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pag">
                                    <pagination-controls (pageChange)="p = $event" nextLabel="Suivants"
                                        previousLabel="Précedents" [responsive]="responsive"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </main>
    </div>
</div>