<div class="container-fluid"
  style="background-image: url('../../assets/ordinateur-portable-icone-isometrique-code-programme-developpement-logiciels-applications-programmation-neon-sombre_39422-971.avif');">
  <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <form novalidate>
        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h3 align="center" style="margin-left: auto; margin-right: auto; color: white;">Connexion!</h3>
          </div>
          <div>
            &nbsp; N° Biométrique ou N° téléphone
          </div>
          <div class="erreur">
            &nbsp; Champ Email ou pseudo obligatoire !!
          </div>
          <div>
            <div>&nbsp; Mot de
              passe obligatoir</div>
            <div>
              &nbsp; Le mot de passe doit contenir au mois 6 caracters
            </div>
          </div>
          <style>
            .erreur {
              color: #000;
              font-size: 1em;
              border-left: 5px solid red;
              box-shadow: rgba(186, 206, 205, 0.12) 0px 2px 4px 0px, rgba(211, 220, 220, 0.855) 0px 2px 16px 0px;
              margin-bottom: 2%;
              background-color: white;
              height: 25px;
            }
          </style>
          <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="form.biometrieOrTelephone" name="usernameOrEmail" required class="form-control" id="floatingInput"
              placeholder="name@example.com">
            <label for="floatingInput">Votre Email ou Pseudo</label>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
              required minlength="6" #password="" [(ngModel)]="form.password">
            <label for="floatingPassword">Mot de passe</label>
          </div>
          <button (click)="onSubmit()" type="submit" class=" btn-primary py-3 w-100 mb-4">Se connecter</button>
        </div>

      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>
</div>