table {
  width: 100%;
  border-collapse: collapse;
}


.header_fixed {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 1px solid #dddddd;
}

.header_fixed thead th {
  position: sticky;
  top: 0;
  background-color: #00C4FF;
  color: white;
  font-size: 15px;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
}

td img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #edeef1;
}

tr:hover td {
  color: black;
  cursor: pointer;
  background-color: #ffffff;
}

td button {
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: #00C4FF;
  color: white;
}
button {
  border: none;
  padding: 7px ;
  border-radius: 20px;
  background-color: #00C4FF;
  color: white;
}

.bg-light.text-center.rounded.p-4 {
  margin-bottom: 30px;
}

.pag {
  margin-top: 4px;
}

.pagm {
  margin-top: 5px;

}